main {
    margin-top:0;
    padding-top:0;
}

#top{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(255, 71, 71) 100%);
}

#what-is-scioly{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 0em;
}

#title{
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    padding-bottom: 0em;
    align-items: center;
    width: 50%;
}

#scioly-symbol{
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

#science{
    padding:0;
    margin:0;
    text-align: center;
    color:white;
}

#science-olympiad {
    padding: 0;
    margin: 0;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff,
        #ff3b38);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
}

/* img{
    width: 100%;
} */
